/* Resetando alguns estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo fonte padrão para todo o documento */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #ccf9c2;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilo para o cabeçalho */
.cabeçalho {
    background-color: #145d16;
    color: white;
    padding: 20px;
    text-align: center;
}

.cabeçalho-título {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.cabeçalho-lista {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.cabeçalho-lista-item1, .cabeçalho-lista-item2 {
    margin: 0 15px;
    list-style: none;
}

/* Estilo para a seção Agro */
.agro {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #fff;
}

.agro-div {
    flex: 1;
    padding: 20px;
}

.agro-título {
    font-size: 2em;
    font-weight: bold;
    color: #fbfcfb;
    margin-bottom: 15px;
}

.agro-texto1, .agro-texto2 {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 20px;
}

.agro-imagem {
    flex: 1;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para o rodapé */
footer {
    text-align: center;
    padding: 15px;
    background-color: #1f6112;
    color: white;
    font-size: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}
