* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.cabeçalho {
    background-color: #0c0101;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-título {
    color: #3f9005;
    font-size: 54px;
}

.cabeçalho-lista {
    color: white;
    font-size: 22px;
}

.cabeçalho-logotipo {
    width: 120px;
}

.cabeçalho-lista-item1 {
    display: inline-block;
    margin: 0 16px;
}

.cabeçalho-lista-item2 {
    display: inline-block;
    margin: 0 16px;
}

.agro{
    background-image: linear-gradient(#300301, #960903);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

}

.agro-título {
    font-size: 32px;
    padding: 24px;
}

.agro-texto1 {
    font-size: 26px;
    padding: 24px;
}

.agro-texto2 {
    font-size: 26px;
    padding: 24px;
}

.agro-div {
    width: 40%;
}

.agro-imagem {
    width: 30%;
}