/* Resetando margens e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo fontes */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilos para o cabeçalho */
.cabeçalho {
    background-color: #009c41; /* Verde */
    color: white;
    padding: 20px;
    text-align: center;
}

.cabeçalho-título {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.cabeçalho-lista {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
}

.cabeçalho-lista-item1, .cabeçalho-lista-item2 {
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

/* Estilos para a seção "Agro" */
.agro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: white;
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 10px;
}

.agro-div {
    max-width: 50%;
}

.agro-título {
    font-size: 2rem;
    color: #009c41;
    margin-bottom: 15px;
}

.agro-texto1 {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.8;
    margin-bottom: 20px;
}

.agro-texto2 {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.8;
}

.agro-imagem {
    max-width: 45%;
    height: auto;
    border-radius: 8px;
}
